<a href="https://colab.research.google.com/github/mothukuriv/ML/blob/master/ML_programing_A2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [0]:

# Importing the dataset
dataset = pd.read_csv('Bank_Predictions.csv')

In [0]:
dataset.head()

   Number  Customer_ID Last_Name  ...  IsActiveMember Customer_Salary Acc_Closed
0       1     15634602  Hargrave  ...               1       101348.88          1
1       2     15647311      Hill  ...               1       112542.58          0
2       3     15619304      Onio  ...               0       113931.57          1
3       4     15701354      Boni  ...               0        93826.63          0
4       5     15737888  Mitchell  ...               1        79084.10          0

[5 rows x 14 columns]

In [0]:
dataset

      Number  Customer_ID  ... Customer_Salary  Acc_Closed
0          1     15634602  ...       101348.88           1
1          2     15647311  ...       112542.58           0
2          3     15619304  ...       113931.57           1
3          4     15701354  ...        93826.63           0
4          5     15737888  ...        79084.10           0
...      ...          ...  ...             ...         ...
9995    9996     15606229  ...        96270.64           0
9996    9997     15569892  ...       101699.77           0
9997    9998     15584532  ...        42085.58           1
9998    9999     15682355  ...        92888.52           1
9999   10000     15628319  ...        38190.78           0

[10000 rows x 14 columns]

In [0]:
# Encoding categorical data
dataset.drop(columns = ['Number', 'Customer_ID', 'Last_Name'])

      Cr_Score Location  Gender  ...  IsActiveMember  Customer_Salary  Acc_Closed
0          619   France  Female  ...               1        101348.88           1
1          608    Spain  Female  ...               1        112542.58           0
2          502   France  Female  ...               0        113931.57           1
3          699   France  Female  ...               0         93826.63           0
4          850    Spain  Female  ...               1         79084.10           0
...        ...      ...     ...  ...             ...              ...         ...
9995       771   France    Male  ...               0         96270.64           0
9996       516   France    Male  ...               1        101699.77           0
9997       709   France  Female  ...               1         42085.58           1
9998       772  Germany    Male  ...               0         92888.52           1
9999       792   France  Female  ...               0         38190.78           0

[10000 rows x 11 columns]

In [0]:
np.array(dataset.drop(columns = ['Number', 'Customer_ID', 'Last_Name']))

array([[619, 'France', 'Female', ..., 1, 101348.88, 1],
       [608, 'Spain', 'Female', ..., 1, 112542.58, 0],
       [502, 'France', 'Female', ..., 0, 113931.57, 1],
       ...,
       [709, 'France', 'Female', ..., 1, 42085.58, 1],
       [772, 'Germany', 'Male', ..., 0, 92888.52, 1],
       [792, 'France', 'Female', ..., 0, 38190.78, 0]], dtype=object)

In [0]:
np.array(dataset['Acc_Closed'])

array([1, 0, 1, ..., 1, 1, 0])

In [0]:
X = dataset.iloc[:, 3:13].values
Y = dataset.iloc[:, 13].values

In [0]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [0]:

from numpy import array
from numpy import argmax
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

label_encoder = LabelEncoder()

X[:,1] = label_encoder.fit_transform(X[:,1])
X[:,2] = label_encoder.fit_transform(X[:,2])

In [0]:
X, Y

(array([[619, 0, 0, ..., 1, 1, 101348.88],
        [608, 2, 0, ..., 0, 1, 112542.58],
        [502, 0, 0, ..., 1, 0, 113931.57],
        ...,
        [709, 0, 0, ..., 0, 1, 42085.58],
        [772, 1, 1, ..., 1, 0, 92888.52],
        [792, 0, 0, ..., 1, 0, 38190.78]], dtype=object),
 array([1, 0, 1, ..., 1, 1, 0]))

In [0]:
transformer = ColumnTransformer(
    transformers=[
        ("hc",   
         OneHotEncoder(), 
         [1]             
         )
    ],
    remainder = 'passthrough'
)
X = transformer.fit_transform(X)

In [0]:
X = X[:, 1:]

In [0]:
# Splitting the dataset into the Training and Test sets

# Feature Scaling
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

scale = StandardScaler()

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 0)

X_train = scale.fit_transform(X_train)
X_test = scale.transform(X_test)

In [0]:
# ------- Part-2: Build the ANN --------

# import keras library and packages
import keras

from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [0]:
# Initializing the ANN

classifier = Sequential()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [0]:

# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11 ))

# Adding second hidden layer

classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))

# Adding output layer
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

In [0]:
# Compiling the ANN
classifier.compile(optimizer = 'adam',loss= "binary_crossentropy", metrics=["accuracy"])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3657: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [0]:
# Fitting the ANN to the training set
classifier.fit(X_train, Y_train, batch_size = 10, epochs = 200  )

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Epoch 1/200
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

7000/7000 [==============================] - 1s 151us/step - loss: 0.4898 - acc: 0.7973
Epoch 2/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.4276 - acc: 0.7977
Epoch 3/200
7000/7000 [==============================] - 1s 117us/step - loss: 0.4222 - acc: 0.8011
Epoch 4/200
7000/7000 [==============================] - 1s 117us/step - loss: 0.4169 - acc: 0.8264
Epoch 5/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.4122 - acc: 0.8294
Epoch 6/200
7000/7000 [==============================] - 1s 116us/step - loss: 0.4091 - acc: 0.8319
Epoch 7/200
7000/7000 [==============================] - 1s 117us/step - loss: 0.4065 - acc: 0.8334
Epoch 8/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.4044 - acc: 0.8347
Epoch 9/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.4031 - acc: 0.8330
Epoch 10/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.4013 - acc: 0.8341
Epoch 11/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.4003 - acc: 0.8361
Epoch 12/200
7000/7000 [==============================] - 1s 125us/step - loss: 0.3990 - acc: 0.8366
Epoch 13/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3988 - acc: 0.8349
Epoch 14/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3982 - acc: 0.8349
Epoch 15/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3976 - acc: 0.8367
Epoch 16/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3975 - acc: 0.8354
Epoch 17/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.3971 - acc: 0.8361
Epoch 18/200
7000/7000 [==============================] - 1s 118us/step - loss: 0.3967 - acc: 0.8349
Epoch 19/200
7000/7000 [==============================] - 1s 118us/step - loss: 0.3968 - acc: 0.8356
Epoch 20/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3964 - acc: 0.8351
Epoch 21/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3954 - acc: 0.8344
Epoch 22/200
7000/7000 [==============================] - 1s 116us/step - loss: 0.3962 - acc: 0.8337
Epoch 23/200
7000/7000 [==============================] - 1s 115us/step - loss: 0.3957 - acc: 0.8353
Epoch 24/200
7000/7000 [==============================] - 1s 116us/step - loss: 0.3953 - acc: 0.8339
Epoch 25/200
7000/7000 [==============================] - 1s 118us/step - loss: 0.3957 - acc: 0.8341
Epoch 26/200
7000/7000 [==============================] - 1s 118us/step - loss: 0.3950 - acc: 0.8333
Epoch 27/200
7000/7000 [==============================] - 1s 118us/step - loss: 0.3944 - acc: 0.8369
Epoch 28/200
7000/7000 [==============================] - 1s 115us/step - loss: 0.3941 - acc: 0.8369
Epoch 29/200
7000/7000 [==============================] - 1s 118us/step - loss: 0.3932 - acc: 0.8377
Epoch 30/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3916 - acc: 0.8389
Epoch 31/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3896 - acc: 0.8387
Epoch 32/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3869 - acc: 0.8400
Epoch 33/200
7000/7000 [==============================] - 1s 124us/step - loss: 0.3833 - acc: 0.8407
Epoch 34/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3794 - acc: 0.8429
Epoch 35/200
7000/7000 [==============================] - 1s 118us/step - loss: 0.3742 - acc: 0.8443
Epoch 36/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3686 - acc: 0.8473
Epoch 37/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3634 - acc: 0.8497
Epoch 38/200
7000/7000 [==============================] - 1s 126us/step - loss: 0.3615 - acc: 0.8501
Epoch 39/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3587 - acc: 0.8539
Epoch 40/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3563 - acc: 0.8537
Epoch 41/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3544 - acc: 0.8579
Epoch 42/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3539 - acc: 0.8553
Epoch 43/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.3528 - acc: 0.8573
Epoch 44/200
7000/7000 [==============================] - 1s 125us/step - loss: 0.3518 - acc: 0.8566
Epoch 45/200
7000/7000 [==============================] - 1s 117us/step - loss: 0.3516 - acc: 0.8550
Epoch 46/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3504 - acc: 0.8566
Epoch 47/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3498 - acc: 0.8561
Epoch 48/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.3496 - acc: 0.8571
Epoch 49/200
7000/7000 [==============================] - 1s 118us/step - loss: 0.3489 - acc: 0.8606
Epoch 50/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.3499 - acc: 0.8580
Epoch 51/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3489 - acc: 0.8583
Epoch 52/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3483 - acc: 0.8596
Epoch 53/200
7000/7000 [==============================] - 1s 118us/step - loss: 0.3482 - acc: 0.8600
Epoch 54/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3469 - acc: 0.8621
Epoch 55/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3474 - acc: 0.8584
Epoch 56/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3475 - acc: 0.8589
Epoch 57/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3479 - acc: 0.8583
Epoch 58/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3467 - acc: 0.8584
Epoch 59/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3459 - acc: 0.8567
Epoch 60/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3467 - acc: 0.8600
Epoch 61/200
7000/7000 [==============================] - 1s 117us/step - loss: 0.3471 - acc: 0.8563
Epoch 62/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3464 - acc: 0.8601
Epoch 63/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3463 - acc: 0.8606
Epoch 64/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3466 - acc: 0.8591
Epoch 65/200
7000/7000 [==============================] - 1s 118us/step - loss: 0.3452 - acc: 0.8589
Epoch 66/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3457 - acc: 0.8591
Epoch 67/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3462 - acc: 0.8586
Epoch 68/200
7000/7000 [==============================] - 1s 125us/step - loss: 0.3461 - acc: 0.8611
Epoch 69/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.3453 - acc: 0.8609
Epoch 70/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3450 - acc: 0.8583
Epoch 71/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3446 - acc: 0.8584
Epoch 72/200
7000/7000 [==============================] - 1s 117us/step - loss: 0.3441 - acc: 0.8587
Epoch 73/200
7000/7000 [==============================] - 1s 118us/step - loss: 0.3444 - acc: 0.8589
Epoch 74/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3442 - acc: 0.8614
Epoch 75/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3434 - acc: 0.8616
Epoch 76/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3431 - acc: 0.8621
Epoch 77/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3428 - acc: 0.8604
Epoch 78/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3439 - acc: 0.8611
Epoch 79/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3425 - acc: 0.8617
Epoch 80/200
7000/7000 [==============================] - 1s 116us/step - loss: 0.3432 - acc: 0.8609
Epoch 81/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3425 - acc: 0.8596
Epoch 82/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3429 - acc: 0.8599
Epoch 83/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3428 - acc: 0.8583
Epoch 84/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.3427 - acc: 0.8599
Epoch 85/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.3421 - acc: 0.8626
Epoch 86/200
7000/7000 [==============================] - 1s 126us/step - loss: 0.3423 - acc: 0.8610
Epoch 87/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3424 - acc: 0.8580
Epoch 88/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3417 - acc: 0.8586
Epoch 89/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3425 - acc: 0.8574
Epoch 90/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3417 - acc: 0.8591
Epoch 91/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3426 - acc: 0.8607
Epoch 92/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3408 - acc: 0.8584
Epoch 93/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.3421 - acc: 0.8599
Epoch 94/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3418 - acc: 0.8609
Epoch 95/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3420 - acc: 0.8574
Epoch 96/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3412 - acc: 0.8621
Epoch 97/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3411 - acc: 0.8581
Epoch 98/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3412 - acc: 0.8594
Epoch 99/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3423 - acc: 0.8600
Epoch 100/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3411 - acc: 0.8577
Epoch 101/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3415 - acc: 0.8583
Epoch 102/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3411 - acc: 0.8581
Epoch 103/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3416 - acc: 0.8614
Epoch 104/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3415 - acc: 0.8599
Epoch 105/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3408 - acc: 0.8591
Epoch 106/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3412 - acc: 0.8590
Epoch 107/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3410 - acc: 0.8604
Epoch 108/200
7000/7000 [==============================] - 1s 127us/step - loss: 0.3416 - acc: 0.8594
Epoch 109/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3417 - acc: 0.8617
Epoch 110/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.3403 - acc: 0.8606
Epoch 111/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3407 - acc: 0.8590
Epoch 112/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3407 - acc: 0.8583
Epoch 113/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.3406 - acc: 0.8596
Epoch 114/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3406 - acc: 0.8573
Epoch 115/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3405 - acc: 0.8596
Epoch 116/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3404 - acc: 0.8601
Epoch 117/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3415 - acc: 0.8611
Epoch 118/200
7000/7000 [==============================] - 1s 125us/step - loss: 0.3404 - acc: 0.8620
Epoch 119/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3415 - acc: 0.8613
Epoch 120/200
7000/7000 [==============================] - 1s 125us/step - loss: 0.3398 - acc: 0.8606
Epoch 121/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.3404 - acc: 0.8599
Epoch 122/200
7000/7000 [==============================] - 1s 117us/step - loss: 0.3398 - acc: 0.8593
Epoch 123/200
7000/7000 [==============================] - 1s 118us/step - loss: 0.3405 - acc: 0.8596
Epoch 124/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.3391 - acc: 0.8609
Epoch 125/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3407 - acc: 0.8571
Epoch 126/200
7000/7000 [==============================] - 1s 126us/step - loss: 0.3403 - acc: 0.8603
Epoch 127/200
7000/7000 [==============================] - 1s 135us/step - loss: 0.3396 - acc: 0.8607
Epoch 128/200
7000/7000 [==============================] - 1s 134us/step - loss: 0.3409 - acc: 0.8593
Epoch 129/200
7000/7000 [==============================] - 1s 133us/step - loss: 0.3399 - acc: 0.8594
Epoch 130/200
7000/7000 [==============================] - 1s 135us/step - loss: 0.3404 - acc: 0.8589
Epoch 131/200
7000/7000 [==============================] - 1s 137us/step - loss: 0.3395 - acc: 0.8619
Epoch 132/200
7000/7000 [==============================] - 1s 138us/step - loss: 0.3391 - acc: 0.8643
Epoch 133/200
7000/7000 [==============================] - 1s 135us/step - loss: 0.3398 - acc: 0.8589
Epoch 134/200
7000/7000 [==============================] - 1s 137us/step - loss: 0.3396 - acc: 0.8614
Epoch 135/200
7000/7000 [==============================] - 1s 138us/step - loss: 0.3390 - acc: 0.8610
Epoch 136/200
7000/7000 [==============================] - 1s 149us/step - loss: 0.3398 - acc: 0.8611
Epoch 137/200
7000/7000 [==============================] - 1s 131us/step - loss: 0.3402 - acc: 0.8576
Epoch 138/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3398 - acc: 0.8601
Epoch 139/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3394 - acc: 0.8596
Epoch 140/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3398 - acc: 0.8604
Epoch 141/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3398 - acc: 0.8576
Epoch 142/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.3393 - acc: 0.8613
Epoch 143/200
7000/7000 [==============================] - 1s 124us/step - loss: 0.3386 - acc: 0.8616
Epoch 144/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3390 - acc: 0.8626
Epoch 145/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3397 - acc: 0.8616
Epoch 146/200
7000/7000 [==============================] - 1s 125us/step - loss: 0.3388 - acc: 0.8600
Epoch 147/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3394 - acc: 0.8627
Epoch 148/200
7000/7000 [==============================] - 1s 118us/step - loss: 0.3403 - acc: 0.8597
Epoch 149/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3397 - acc: 0.8589
Epoch 150/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3393 - acc: 0.8597
Epoch 151/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3393 - acc: 0.8626
Epoch 152/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3391 - acc: 0.8597
Epoch 153/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.3387 - acc: 0.8614
Epoch 154/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3397 - acc: 0.8596
Epoch 155/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3382 - acc: 0.8589
Epoch 156/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3382 - acc: 0.8593
Epoch 157/200
7000/7000 [==============================] - 1s 118us/step - loss: 0.3396 - acc: 0.8590
Epoch 158/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.3395 - acc: 0.8623
Epoch 159/200
7000/7000 [==============================] - 1s 119us/step - loss: 0.3385 - acc: 0.8596
Epoch 160/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3386 - acc: 0.8621
Epoch 161/200
7000/7000 [==============================] - 1s 124us/step - loss: 0.3391 - acc: 0.8609
Epoch 162/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3392 - acc: 0.8619
Epoch 163/200
7000/7000 [==============================] - 1s 118us/step - loss: 0.3393 - acc: 0.8584
Epoch 164/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3392 - acc: 0.8607
Epoch 165/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3390 - acc: 0.8607
Epoch 166/200
7000/7000 [==============================] - 1s 125us/step - loss: 0.3388 - acc: 0.8599
Epoch 167/200
7000/7000 [==============================] - 1s 118us/step - loss: 0.3390 - acc: 0.8600
Epoch 168/200
7000/7000 [==============================] - 1s 124us/step - loss: 0.3386 - acc: 0.8611
Epoch 169/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3379 - acc: 0.8623
Epoch 170/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3389 - acc: 0.8593
Epoch 171/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3383 - acc: 0.8586
Epoch 172/200
7000/7000 [==============================] - 1s 122us/step - loss: 0.3378 - acc: 0.8603
Epoch 173/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.3388 - acc: 0.8611
Epoch 174/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.3390 - acc: 0.8587
Epoch 175/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3378 - acc: 0.8616
Epoch 176/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3386 - acc: 0.8594
Epoch 177/200
7000/7000 [==============================] - 1s 117us/step - loss: 0.3377 - acc: 0.8599
Epoch 178/200
7000/7000 [==============================] - 1s 121us/step - loss: 0.3376 - acc: 0.8609
Epoch 179/200
7000/7000 [==============================] - 1s 120us/step - loss: 0.3383 - acc: 0.8596
Epoch 180/200
7000/7000 [==============================] - 1s 123us/step - loss: 0.3372 - acc: 0.8617
Epoch 181/200
7000/7000 [==============================] - 1s 124us/step - loss: 0.3380 - acc: 0.8616
Epoch 182/200

In [0]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [0]:
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [ True]])

In [0]:

# Making the confusion Matrix

from sklearn.metrics import confusion_matrix
output_matrix = confusion_matrix(Y_test, y_pred)

In [0]:
output_matrix

array([[2286,   93],
       [ 313,  308]])